<h1>Current Brands in Database:</h1>

  <% if @brands == [] %>
  <p>There are no brands saved in the database yet.</p>
  <% else %>
  <ul>
    <% @brands.each() do |brand| %>
    <li><a href='/brands/<%= brand.id() %>'><%= brand.name() %></a></li>
    <% end %>
  </ul>
  <% end %>

  <div class='container'>
    <button class="btn btn-info"><a href="/stores/new">Add new store</a></button>
    <button class="btn btn-info"><a href="/brands/new">Add new brand</a></button>
    <button class="btn btn-info"><a href="/stores">View all stores</a></button>
  </div>
