<h1>Add new brand:</h1>

<form action="/brands" method="post">
  <label for="name">Brand Name:</label>
  <input id="name" name="name" type="text">
<hr>
  <label for="store_id">What stores are caring this shoe?</label>
  <br>
  <% @stores.each() do |store| %>
    <input type="checkbox" name = "store_ids[]" value="<%= store.id()%>"> <%= store.name() %>
    <% end %>
    <hr>
  <button type="submit" class="btn btn-info">Add brand</button>
</form>
