<!-- <h1><%= @brand.name() %></h1>

<% if @brand.stores().any?() %>
  <h3>Here are all the stores carring this brand:</h3>

  <ul>
    <% @brand.store().each() do |store| %>
      <li><%= store.name() %> <a href="/stores/<%= store.id() %>/edit">View this store</a></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no stores carring this brand right now!</p>
  <% end %>

  <p><a href="/">Return to Main Page</a></p> -->
