<h1>Add new brand:</h1>
<form action="/brands" method="post">
  <div class="form-group">
    <label for="name">Brand Name:</label>
    <input type="text" name="name">
  </div>
  <button type="submit" class="btn">Add Brand</button>
</form>

<div class='container'>
  <button class="btn btn-info"><a href="/stores/new">Add new store</a></button>
</div>
