<h1>Welcome</h1>

<div class='container'>
  <button class="btn btn-info"><a href="/stores/new">Add new store</a></button>
  <button class="btn btn-info"><a href="/brands/new">Add new brand</a></button>
</div>
