<h1>Add new store:</h1>

<form action="/stores" method="post">
  <div class="form-group">
    <input id="name" name="name" type="test">
  </div>
  <button type="submit" class="btn btn-info">Add store</button>
</form>
