<h1>Individual store page</h1>

<h2><%= @store.name() %></h2>

<% if @store.brands().any?() %>
  <h3>Here are all the brands in this store</h3>

  <ul>
    <% @store.brands().each() do |brand| %>
      <li><%= brand.name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are currently no brands for this store</p>
<% end %>


<div class='container'>
<a href="/brand_add_store/<%= @store.id() %>">Add brand to a store</a>
<br>
<a href="/stores/<%= @store.id() %>/edit">Update</a>
<br>
<a href="/brands/new">Add new brand</a>
</div>
