<h1>Individual store page</h1>

<h2><%= @store.name() %></h2>

<% if @store.brands().any?() %>
  <h3>Here are all the brands in this store</h3>

  <ul>
    <% @store.brands().each() do |question| %>
      <li><%= brand.name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are currently no brands for this store</p>
<% end %>

<p><a href="/stores/<%= @store.id() %>/edit">Update</a></p>

<div class='container'>
  <button><a href="/stores/new">Add new store</a></button>
  <button><a href="/brands/new">Add new brand</a></button>
</div>
